
  <div>
    <div class="card mb-3" style="margin-top: 20px; font-size: 13px">
      <div
        class="card-header"
        style="color: white; background-color: rgb(231, 127, 63)"
      >
        Sepetim
      </div>
      <div class="card-body" style="padding: 5px">
        <div>
          <div class="row" style="border: 1px black; margin-bottom: 10px">
            <div class="col-md-1">
              <button
                class="btn btn-danger"
                style="
                  width: 20px;
                  height: 25px;
                  padding: 0px;
                  margin-bottom: 10px;
                "
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="col-md-1" style="margin-bottom: 10px">
              <button
                class="btn btn-primary"
                style="width: 20px; height: 25px; padding: 0px"
              >
                <i class="fa fa-plus"></i></button
              ><span style="padding: 5px">1</span
              ><button
                class="btn btn-primary"
                style="width: 20px; height: 25px; padding: 0px"
              >
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <div class="col-md-5">
              <span style="padding-left: 5px; font-size: 12px"
                >Kendi Menünü Kendin Yap (Küçük)
              </span>
            </div>
            <div class="col-md-4">
              <span
                style="
                  color: rgb(231, 127, 63);
                  font-weight: bold;
                  font-size: 14px;
                "
                >27.95</span
              >
            </div>
          </div>
          <div class="row" style="border: 1px black; margin-bottom: 10px">
            <div class="col-md-1">
              <button
                class="btn btn-danger"
                style="
                  width: 20px;
                  height: 25px;
                  padding: 0px;
                  margin-bottom: 10px;
                "
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
            <div class="col-md-1" style="margin-bottom: 10px">
              <button
                class="btn btn-primary"
                style="width: 20px; height: 25px; padding: 0px"
              >
                <i class="fa fa-plus"></i></button
              ><span style="padding: 5px">1</span
              ><button
                class="btn btn-primary"
                style="width: 20px; height: 25px; padding: 0px"
              >
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <div class="col-md-5">
              <span style="padding-left: 5px; font-size: 12px"
                >Kendi Menünü Kendin Yap (Küçük)
              </span>
            </div>
            <div class="col-md-4">
              <span
                style="
                  color: rgb(231, 127, 63);
                  font-weight: bold;
                  font-size: 14px;
                "
                >27.95</span
              >
            </div>
          </div>
          <div>
            <hr />
            <span
              style="margin-top: 15px; font-size: 14px; font-weight: bold"
            >
              <div>
                <div style="color: red">
                  Sepet Toplami : <del>75.90</del>TL
                </div>
                <br />
                <div>İndirim Toplami : 20.00 TL</div>
                <br />Toplam : 55.90 TL
              </div></span
            >
          </div>
          <br /><br />
          <div class="form-group" style="margin-bottom: 20px">
            <label style="font-weight: bold">Ödeme Türü </label
            ><select class="form-control" name="PaymentType">
              <option>..Lütfen Seçiniz ..</option>
              <option value="Online Ödeme">Online Ödeme</option>
              <option value="Nakit">Nakit</option>
              <option value="Kredi Kartı">Kredi Kartı</option>
              <option value="Sodexo">Sodexo</option>
              <option value="Ticket">Ticket</option>
              <option value="Multinet">Multinet</option>
              <option value="Set Card">Set Card</option>
              <option value="Cio Card">Cio Card</option>
              <option value="Metropol Card">Metropol Card</option>
            </select>
          </div>
          <div class="form-group" style="margin-bottom: 20px">
            <label style="font-weight: bold">Ad Soyad : </label
            ><input type="text" class="form-control" name="CustomerName" />
            <div class="form-group" style="margin-bottom: 20px">
              <label style="font-weight: bold">Telefon : </label>
              <div class="PhoneInput">
                <div class="PhoneInputCountry">
                  <select
                    aria-label="Phone number country"
                    class="PhoneInputCountrySelect"
                  >
                    <option value="ZZ">International</option>
                    <option value="TR">Turkey</option>
                  </select>
                  <div
                    class="PhoneInputCountryIcon PhoneInputCountryIcon--border"
                  >
                    <img
                      class="PhoneInputCountryIconImg"
                      alt="Turkey"
                      src="https://purecatamphetamine.github.io/country-flag-icons/3x2/TR.svg"
                    />
                  </div>
                  <div class="PhoneInputCountrySelectArrow"></div>
                </div>
                <input
                  type="tel"
                  autocomplete="tel"
                  placeholder="555-555-55-55"
                  class="PhoneInputInput"
                  value=""
                />
              </div>
            </div>
          </div>
          <div></div>
          <div></div>
          <button
            data-toggle="modal"
            data-target="#SiparisInfo"
            class="btn btn-primary"
          >
            Siparişi Onayla
          </button>
          <div
            class="modal fade bd-example-modal-xl"
            tabindex="-1"
            role="dialog"
            id="SiparisInfo"
          >
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Sipariş</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div>
                    <div class="row col-md-12">
                      <div class="card col-md-6">
                        <div class="card-header">
                          <h3 class="card-title">Sipariş Bilgileri</h3>
                        </div>
                        <div class="card-body">
                          <table>
                            <thead>
                              <tr></tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>Adınız :</td>
                                <td><b></b></td>
                              </tr>
                              <tr>
                                <td>Ödeme Şekliniz :</td>
                                <td><b></b></td>
                              </tr>
                              <tr>
                                <td>Telefonuz :</td>
                                <td><b></b></td>
                              </tr>
                              <tr>
                                <td>Adresiniz /Açıklamanız:</td>
                                <td><b></b></td>
                              </tr>
                              <tr>
                                <td>
                                  Siparişiniz ile ilgili bize iletmek<br />istediklerinizi
                                  lütfen yazın :
                                </td>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <textarea
                                    name="Note"
                                    class="form-control"
                                  ></textarea>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="card col-md-6"></div>
                    </div>
                    <br /><br />
                    <div class="row col-md-12">
                      <div class="card col-md-12">
                        <div class="card-header">
                          <h3 class="card-title">Ürün Detayı</h3>
                        </div>
                        <div class="card-body">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>Miktar</th>
                                <th>Ürün Adı</th>
                                <th>Seçenekler</th>
                                <th>Tutar</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>1</td>
                                <td>Kendi Menünü Kendin Yap (Küçük)</td>
                                <td>
                                  <span>Beyaz Ekmek</span
                                  ><span>Fuse Tea Şeftali (33 cl.) </span>
                                </td>
                                <td>27.95</td>
                              </tr>
                              <tr>
                                <td>1</td>
                                <td>Kendi Menünü Kendin Yap (Küçük)</td>
                                <td>
                                  <span>Beyaz Ekmek</span
                                  ><span>Fuse Tea Şeftali (33 cl.) </span>
                                </td>
                                <td>27.95</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr />
                          <table>
                            <thead>
                              <th></th>
                              <th></th>
                              <th></th>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  <span
                                    style="
                                      font-weight: bold;
                                      font-size: 14px;
                                      color: red;
                                    "
                                  >
                                    Sepet Toplami :<del>75.90</del> TL</span
                                  >
                                </td>
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <span
                                    style="
                                      font-weight: bold;
                                      font-size: 14px;
                                    "
                                  >
                                    İndirim Toplami :20.00 TL</span
                                  >
                                </td>
                              </tr>
                              <tr>
                                <td></td>
                              </tr>
                              <tr>
                                <td>
                                  <span
                                    style="
                                      font-weight: bold;
                                      font-size: 14px;
                                    "
                                  >
                                    Toplam :55.90 TL</span
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                      <button class="btn btn-primary">
                        Siparişi Tamamla
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

