<div
  class="row"
  *ngFor="
    let options of newOrderOptionSelect.SelectOption | sortOrderData: 'Order'
  "
>
  <div
    style="
      background-color: '#e1e1e1';
      border-radius: 50;
      margin-bottom: 50;
      width: '100%';
      height: 100;
      padding: 50;
    "
  >
    <span>
      <b>{{ options.Options[0].Name }}</b>
    </span>
    <div class="form-group">
      <select
        class="form-control"
        [required]="options.Options[0].IsRequired"
        [multiple]="options.Options[0].SelectType === 'Multiple'"
      >
        <option>...Lütfen Seçiniz...</option>
        <option
          *ngFor="
            let optionValues of options.Options[0].OptionValues
              | sortOrderData: 'Order'
          "
        >
          {{ optionValues.Name
          }}<span *ngIf="optionValues.Price > 0">{{ optionValues.Price }}</span>
        </option>
      </select>
    </div>
  </div>
</div>
